* {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: monospace;
    font-size: 16px;
    /*text-transform: lowercase;*/
}

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    width: 100%;
    overscroll-behavior: none;
}

code {
    color: #f9e2af;
}


#stuff {
    display:flex;
    flex-flow: row;
}

#stuff > div {
    background-color: #313244;
    margin: 1.5rem;
    min-height: 80vh;
}

#stuff div {
    padding: 10px;
}

#terminal {
    flex: 4;
}

#sidebar {
    flex: 1;
    display:flex;
    flex-flow: column;
}

#sidebar > * {
    background-color: #1e1e2e;
}

#chat {
    flex: 1;
}

#quests {
    flex: 1;
}

#chat p.message {
    background-color: #6c7086;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 1rem;
    margin-top:0.25rem;
}

#chat p.name {
    font-weight: bold;
    font-style: italic;
    color: #bac2de;
    margin: 0.25rem;
    padding: 0;
}

#name {
    flex: 0.1;
    width: calc(100% - 20px);
}

#terminal-text {
    background-color: #313244;
}

#inputs-for-terminal-are-here- {
    display: flex;
    flex-flow: row;
}

#terminal-input {
    flex: 7;
}

#terminal-submit {
    flex: 1;
}

#quest-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#quest-header button {
    height: fit-content;
}

h1 {
    font-size: 4rem;
    margin: 0.1rem;
}

h2 {
    font-size: 1.5rem;
}